<article id="about" class="mt-2<">
    <h2 class="major">A propos</h2>
    <span class="image main"></span>
    <div class="profil-container">
        <h4 class="titre-profil h4_competence">Qui-suis je ?</h4>
        <p class="section-profil-p">
            Je suis Océance Fourdain, j'ai 24 ans et j'ai commencé le développement web il y'a maintenant 4 ans.

            Plus concretement les portes du développement se sont ouverte lorsque l'entreprise enedis m'a confié le projet de réalisé de A à Z un dashboard de management et d'aide à la prise de décision, 
            j'ai pu réaliser se projet en php native se qui ma grandement fait monté mes compétences technique et transverse.
            
        </p>
        <p class="section-profil-p">
            Se parcours se déroule en alternance, et favorise pour ma part l'apprentissage.
            Aux niveau de l'orientation pendant cette formation je souhaite m'orienter vers le réseaux avec une éventuel options en web.
        </p>
        <h4 class="h4_competence">Mes compétences</h4>
        <div class="cart_competence">
            <h5 class="h5_competence ">Mes compétences en réseau</h5>
            <div class="cart_competence_reseau">
                <span class="ml-1">Système d'exploitation : </span>
                <div class="container">
                    <div class="container__progressbars">
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-res shadow-res"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-res">Windows</span>
                    </div>
                
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-res shadow-res"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-res">Linux</span>
                    </div>  
                    </div>           
                </div>

                <span class="ml-1 mt-1">Réseau : </span>
                <div class="container">
                    <div class="container__progressbars">
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-res shadow-res"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-res">Cisco</span>
                    </div>
                
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-res shadow-res"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-res">Services Réseau</span>
                    </div>
                    </div>
                </div>
                <span class="ml-1 mt-1">Virtualisation :</span>
                <div class="container">
                    <div class="container__progressbars">
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-res shadow-res"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-res">VMware</span>
                    </div>
                
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-res shadow-res"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-res">VirtualBox</span>
                    </div>
                    </div>
                </div>
                <span class="ml-1 mt-1">Service :</span>
                <div class="container">
                    <div class="container__progressbars">
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-res shadow-res"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-res">Serveur apache</span>
                    </div>
                
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-res shadow-res"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-res">FTP, SFTP</span>
                    </div>
                    </div>
                </div>
            </div>
            
            <h5 class="h5_competence">Mes compétences en développement</h5>
            <div class="cart_competence_developpement">
                <span>Balisage :</span>
                <!-- Balisage -->
                <div class="container">
                    <div class="container__progressbars">
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-balisage shadow-balisage"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-balisage">HTML</span>
                    </div>
                
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-balisage shadow-balisage"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-balisage">CSS</span>
                    </div>
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-balisage shadow-balisage"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-balisage">SCSS</span>
                    </div>
                    </div>
                
                
                </div>
                <!-- Langage de programamtion -->
                <span class="mt-2">Langage de programmation :</span>
                <div class="container">
                    <div class="container__progressbars">
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-programmation shadow-programmation"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-programmation">JavaScript</span>
                    </div>
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-programmation shadow-programmation"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-programmation">PHP</span>
                    </div>
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-programmation shadow-programmation"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-programmation">Python</span>
                    </div>
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-programmation shadow-programmation"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-programmation">C#</span>
                    </div>
                    </div>
                </div>
                <span class="mt-2">Frameworks</span>
                <div class="container">
                    <div class="container__progressbars">
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-frameworks shadow-frameworks"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-frameworks">React</span>
                    </div>
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-frameworks shadow-frameworks"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-frameworks">Angular</span>
                    </div>
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-frameworks shadow-frameworks"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-frameworks">Symfony</span>
                    </div>
                    <div class="progressbar">
                        <svg class="progressbar__svg">
                        <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-frameworks shadow-frameworks"> </circle>
                        </svg>
                        <span class="progressbar__text shadow-frameworks">Vue.js</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
Je suis Océance Fourdain, j'ai 24 ans et j'ai commencé le développement web il y'a maintenant 4 ans.

Plus concretement les portes du développement se sont ouverte lorsque l'entreprise enedis m'a confié le projet de réalisé de A à Z un dashboard de management et d'aide à la prise de décision, 
j'ai pu réaliser se projet en php native se qui ma grandement fait monté mes compétences technique et transverse.

Grâce à se type de projet j'ai pu comprendre la gestion d'un projet, les délais de rendu pour certains module



Cette experience ma conforté dans mon choix de poursuivre mes études c'est pour cela qu'à partir du mois d'octobre je poursuis mon cursus en mastère Manager de Projet IOT & Smart Building à amiens sur un rytheme de 1 semaine à l'écolde pour 3 semaines en entreprise.
